header {
  /* Header should appear to be 400px high, so added padding and extra height to account for the section under the nav bar */
  height: 520px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");

}
