
/* styles for whole nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: white;
  padding: 0 1.5em;
  position: sticky;
  top: 0;
}

div.logo {
  font-family: "Bungee", sans-serif;
}
div.write-a-new-tweet{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* bold style */
span.weight600 {
  font-weight: 600;
}

/* write new tweet "button" (not a real button) PROBLEM styles */
.fa-angle-double-down {
  color: red;
}

@keyframes bounce {
  0%,100% {transform: translateY(0px);}
  50% {transform: translateY(10px);}
}
.fa-angle-double-down:hover {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

